*~
data/json/*.tracking.json
data/dataframe/*
*.7z
setup_gh.cmd
data/model/*.replay
data/model/*.csv
__pycache__
*.code-workspace
*.vscode
*/temp
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/rocket_league_analytics.iml
/.idea/vcs.xml
