* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.stat-title {
    width: 100%;
    background-color: rgb(230, 230, 230);
    padding-left: 1em;
}

header {
    margin-bottom: 10px;
}

a img {
    border: 1px solid rgba(0, 0, 0, 0);
}

a img:hover {
    border: 1px solid rgb(255, 115, 0);
}

table {
    text-align: center;
}

@media (max-width: 768px) { 
    .table-responsive {
        font-size: x-small !important;
    }
    .table-responsive a {
        font-size: x-small;
    }
    .text-small-mobile {
        font-size: small;
    }
}

.text-right {
    text-align: right;
}

.mlink {
    font-size: 0.8em !important;
}

.text-xsmall {
    font-size: x-small !important;
}

table {
    text-align: center;
}

table td {
    vertical-align: middle !important;
}

.text-smaller {
    font-size: smaller;
}

.higlighted-row {
    border-bottom: 1px solid gold;
    background-color: #c2ffa0 !important;
}

.bgtext {
    fill-opacity: 0.1;
    fill: black;
    pointer-events: none;
}

#shot_list td {
    padding-top: 0px;
    padding-bottom: 0px;
}

.table-sm {
    font-size: small;
}

.score-text {
    font-weight: bold;
    /* text-shadow: 0px 0px 1px gray,
                 0px 0px 2px gray, 
                 0px 0px 2px gray, 
                 0px 0px 2px gray, 
                 0px 0px 2px gray; */
}

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: moccasin;
}

.nav_game a {
    color: "#00adff";
}

.g-title {
    background-color: rgb(241, 241, 241);
}

.g-value {
    background-color: rgb(230, 253, 249);
}

.g-cols {
    padding-left: 1px;
    padding-right: 1px;
    font-size: small;
}